doctype html
html
  head
    title Web Security Testing
    link(rel="stylesheet" href="/css/style.css")
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/sqlInjection") SQL Injection
        li
          a(href="/brokenAuth") Broken Authentication
        li
          a(href="/database") Database

    block content
